figure{
    position: relative;
}
figure .text{
    position: absolute;
    left: 1em;
    right: 1em;
    top: 1em;
    text-align: end;
    color: white;
    text-shadow: 2px 3px 2px #000000;
}
.indicators>div>img{
    opacity: 0.6;
}
.indicators>.active>img{
    opacity: 1;
}
#root{
    width: 700px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}